.carditems-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
    max-width: 1000px;
    margin: 100px auto 0px auto;
}

.carditems-format.main-cart-format {
    max-width: 1000px;
    margin: auto;
}

.carditems-format {
    padding: 20px 0px;
    border-top: 1px solid #e2e2e2;
}

.carditems-format.main-cart-format {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 1px solid #e2e2e2;
}

.carticon-product-icon {
    height: 60px;
}

.carditems-quantity-input {
    width: 70px;
    height: 50px;
    border: 1px solid #ebebeb;
    background: #fff;
    text-align: center;
    padding-left: 10px;
}

.carditems-remove-icon {
    cursor: pointer;
    margin: 0px 40px;
}

.cartitems-down {
    display: flex;
    margin: 100px auto;
    width: 80%;
    padding-bottom: 100px;
    gap: 50px;
    /* justify-content: center; */
}

.cartitems-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    gap: 20px;
}

.cartitems-total-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.cartitems-total button {
    width: 200px;
    height: 50px;
    background: #ff5a5a;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.cartitems-promocode {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cartitems-promobox {
    display: flex;
    width: 330px;
    margin-top: 15px;
    padding-left: 20px;
    height: 50px;
    background: #eaeaea;
}

.cartitems-promobox input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 200px;
}

.cartitems-promobox button {
    width: 130px;
    height: 50px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}